# Clangd configuration for bsg_manycore
# This file is auto-managed by update_clangd_includes.py

CompileFlags:
  Add:
    # BEGIN auto-includes
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/agu/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/gbp_pe/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/gbp_pe_fpu/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/data_fifo/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/mic_read/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/example/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/mic_read_top/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/mic_write_top/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/read_stream_engine_top/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/write_stream_engine_top/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/integration/spm_subsystem_top/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/endpoint_rx/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/integration/endpoint_noc/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/stream_dispatcher_top/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/control_unit_top/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/integration/pe_top_integration/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/pe_unit/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/pe_unit_bad/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/gbp_pe_bad/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/compute_unit_top/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/gbp_compute_nodes/obj_dir
    # END auto-includes
    - -std=c++17
    - -I/home/nick/Workspace/tools/verilator/include
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/scratchpad_test/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/gbp_pe_fpu/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/scratchpad/obj_dir
    - -I/home/nick/Workspace/bsg_manycore/nocbp_verilator/build/unit/scratchpad_top/obj_dir
    - -D simulation
  Compiler: g++
